/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {} 

/* md */
@media (min-width: 768px) {} 

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {} 

/* 2xl */
@media (min-width: 1536px) {}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Smallest */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  
  .aboutMe-box, .experience-box, .project-stack {
      margin: 1rem;
      padding: 1rem;
      gap: 1.5rem;
  }

  .second-box {
    height: 70vh;
  }

  .third-box {
    height: 150vh;
  }

  .fourth-box {
    height: auto;
  }

    .project-box {
      margin: 1rem;
      padding: 1rem;
    }

    .project-stack img {
      width: 17rem;
    }
}

/* xs */
@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}