/* Navbar styles */
nav {
	background-color: rgb(0, 0, 0);
	padding: 0 15px;
	position: relative;
	z-index: 1;
}

a {
	text-decoration: none;
}

.menu {
	list-style-type: none;
}

.logo {
	font-size: 30px;
	padding: 7.5px 20px 7.5px 0;
}

.item {
	padding: 15px;
}

/* Item */
.item a {
	text-align: center;
	border-radius: 20px;
	width: 100px;
}

.item.button {
	padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
	transition: 0.5s ease;
	color: var(--black);
	background-color: var(--white);
}

/* Mobile menu */
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu li a {
	display: flex;
	padding: 15px 5px;
	justify-content: center;
	color: rgb(255, 255, 255);
}

.toggle {
	order: 1;
	font-size: 20px;
}

.item.button {
	order: 2;
}

.item {
	order: 3;
	width: 100%;
	text-align: center;
	display: none;
}

.active .item {
	display: flex;
	justify-content: center;
}

.button.secondary {
	/* divider between buttons and menu links */
	border-bottom: 1px #000000 solid;
}
