.wrapper {
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

ul .box {
  list-style:none;
}

ul .box a {
  display:block;
  position:relative;
  width:100px;
  height:100px;
  line-height:100px;
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:#ffffff;
}
ul .box a span {
  position:absolute;
  transition: transform .5s;
}
ul .box a span:nth-child(1),
ul .box a span:nth-child(3){
  width:100%;
  height:3px;
  background:#ffffff;
}
ul .box a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
ul .box a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

ul .box a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
ul .box a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
  width:3px;
  height:100%;
  background:#ffffff;
}
ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.discord:hover {
  color: #7289DA;
}
.discord:hover span { 
  background: #7289DA;
}
.github:hover {
  color: #6e5494;
}
.github:hover span { 
  background: #6e5494;
}
.linkedin:hover {
  color: #0a66c2;
}
.linkedin:hover span { 
  background: #0a66c2;
}
ul li a .discord {
  color: #7289DA;
}
ul li a:hover:nth-child(2) {
  color: #654595;
}
ul li a:hover:nth-child(3) {
  color: #0774e1;
}